<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Add any common styles or meta tags here -->
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <script type="module" src="/assets/main.bundle.js" defer></script>
    <script>
      if (localStorage.crdacode_theme === 'dark' || (!('crdacode_theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document
          .documentElement
          .classList
          .add('dark')
      } else {
        document
          .documentElement
          .classList
          .remove('dark')
      }
    </script>
    <style>
      [x-cloak] {
        display: none !important;
      }
      audio {
        display: none !important;
      }
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>

  {% include "../footer.njk" %}
</html>