<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Cracking Da Code</title>
    <meta name="description" content="{{ description }}">
    <!-- Add any common styles or meta tags here -->
    <link rel="dns-prefetch" href="https://unsplash.com">
    <link rel="preconnect" href="https://unsplash.com">
    <link rel="preload" href="/assets/fonts/aldrich/aldrich-v17-latin-regular.ttf" as="font" crossorigin/>
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <script type="module" src="/assets/main.bundle.js" defer></script>
    <script>
      if (localStorage.crdacode_theme === 'dark' || (!('crdacode_theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document
          .documentElement
          .classList
          .add('dark')
      } else {
        document
          .documentElement
          .classList
          .remove('dark')
      }
    </script>
    <style>
      [x-cloak] {
        display: none !important;
      }
      audio {
        display: none !important;
      }
    </style>
  </head>
  <body class="dark:bg-gray-900 {{ 'debug-screens' if env.devMode }}" x-data="global">
    {% if page.url == '/' or page.url | isPaginated %}
      <div
        x-show="lastScrollTop > landingPageOffset"
        x-transition:enter="animate-swing "
        :class="{ 'sticky top-0 z-40' : isScrollingUp || !isScrollingUp }">
        {% include '../header.njk' %}
      </div>
    {% else %}
      <div :class="{ 'sticky top-0 z-40 animate-swing' : isScrollingUp || !isScrollingUp }">
        {% include '../header.njk' %}
      </div>
    {% endif %}

    {{ content | safe }}

    {% include '../footer.njk' %}
  </body>
</html>