<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
      default-src 'self';
      connect-src https://*.splitbee.io wss://*.supabase.co https://*.supabase.co 'self';
      frame-src https://connect-js.stripe.com https://js.stripe.com 'self';
      img-src https://*.stripe.com 'self' *.unsplash.com *.imgix.net data:;
      script-src 'unsafe-eval' https://*.splitbee.io https://connect-js.stripe.com https://js.stripe.com 'self' 'nonce-sha256-GGkiBxgeYp8KWuyuLUq00WN0wyCneazCLxO0I1HtHDk=';
      style-src 'sha256-0hAheEzaMe6uXIKV4EehS9pu1am1lj/KnnzrOYqckXk=' 'self' 'nonce-sha256-5paT3KTbJg3SPr2zuec3XmjhZB0vh2CsdKOiujXMqxk=';
    ">
    <!-- https://github.com/alpinejs/alpine/issues/63 -->
    <title>{{ title }} | Cracking Da Code</title>
    <meta name="description" content="{{ description }}">
    <!-- Add any common styles or meta tags here -->
    <link rel="dns-prefetch" href="https://unsplash.com">
    <link rel="preconnect" href="https://unsplash.com">
    <link rel="preload" href="/assets/fonts/aldrich/aldrich-v17-latin-regular.ttf" as="font" crossorigin/>
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <script type="module" src="/assets/main.bundle.js" defer></script>
    <script nonce="sha256-GGkiBxgeYp8KWuyuLUq00WN0wyCneazCLxO0I1HtHDk=">
      if (localStorage.crdacode_theme === 'dark' || (!('crdacode_theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document
          .documentElement
          .classList
          .add('dark')
      } else {
        document
          .documentElement
          .classList
          .remove('dark')
      }
    </script>
    <style nonce="sha256-5paT3KTbJg3SPr2zuec3XmjhZB0vh2CsdKOiujXMqxk=">
      [x-cloak] {
        display: none !important;
      }
      audio {
        display: none !important;
      }
    </style>

  </head>
  <body class="dark:bg-gray-900 {{ 'debug-screens' if env.devMode }}" x-data="global"
     x-effect="if ($store.auth.user) checkPermission('posts', 'principles-for-a-liberated-existence').then(cond => paymentMade = cond)">
    {{ content | safe }}
    {% include '../footer.njk' %}
  </body>
</html>