---
title: Settings
layout: layouts/base.njk
eleventyExcludeFromCollections: true
permalink: settings.html
---
{% block body %}

  {% include 'header.njk' %}

  <div class="mb-5 max-w-md px-4 mx-auto sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8 mt-5">
    <div class="relative py-10 overflow-hidden bg-green-500 shadow-xl rounded-2xl sm:px-12 sm:py-20">
      <div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0">
        <svg
            class="absolute inset-0 w-full h-full"
            preserveaspectratio="xMidYMid slice"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewbox="0 0 1463 360">
          <path
              class="text-indigo-400 text-opacity-40"
              fill="currentColor"
              d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z"></path>
          <path
              class="text-indigo-600 text-opacity-40"
              fill="currentColor"
              d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z"></path>
        </svg>
      </div>
      <div class="relative p-6 sm:p-0">
        <div class="sm:text-center">
          <h2 class="text-3xl font-extrabold tracking-tight text-white sm:text-4xl">
            <template x-if="$store.auth.user">
              <span x-text="'Greetings ' + $store.auth.user?.user_name + '!'"></span>
            </template>
            <template x-else>
              <span>Setup your profile</span>
            </template>
          </h2>
          <p class="max-w-2xl mx-auto mt-6 text-lg text-indigo-100">
            <span>This is the designated location for configuring your settings, including items such as photos, titles, names, and more.</span>
            <span>If you are not currently logged in, kindly press the 'signup' or 'login' button.</span>
          </p>
        </div>

        <template x-if="$store.auth.user">
          <div class="mt-4 sm:mt-5 sm:ml-3 flex flex-col sm:flex-row justify-center">
            <button @click="localStorage.removeItem('crdacode_token'); $store.auth.user = null"
                class="sm:w-64 block w-full px-5 py-3 text-base font-medium text-white bg-gray-900 border border-transparent shadow rounded-md
                  hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-indigo-500
                  sm:px-10">
                Log Out
              </button>
          </div>
        </template>
        <template x-else>
          <div class="mt-4 sm:mt-5 sm:ml-3 flex flex-col sm:flex-row justify-center">
            <button @click="showAuthSignupModal = true"
                class="sm:w-64 block w-full px-5 py-3 text-base font-medium text-white bg-gray-900 border border-transparent shadow rounded-md
                  hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-indigo-500
                  sm:px-10">
                Sign Up
              </button>
            <button @click="showAuthLoginModal = true"
                class="sm:w-64 sm:ml-7 mt-3 sm:mt-0 block w-full px-5 py-3 text-base font-medium text-white bg-gray-900 border border-transparent shadow rounded-md
                  hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-indigo-500
                  sm:px-10">
                Log In
              </button>
          </div>
        </template>

      </div>

      {% include 'partials/auth/login.njk' %}
      {% include 'partials/auth/signup.njk' %}

    </div>

  </div>

  <template x-if="$store.auth.user">
    <div class="m-5 container max-w-6xl mx-auto" x-data="dataAccount()">

      <div>

        <div class="divide-y-gray-200 mt-6 space-y-8 divide-y" 
    x-init="mapFields()" x-effect="mapFields()">
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
              <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-100">Profile</h3>
                <p class="mt-1 text-sm text-gray-600 dark:text-gray-500">
            This information will be displayed publicly so be careful what you share.
          </p>
              </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
              <form @submit.prevent="handleSubmit($event, 1)" >
                <div class="shadow overflow-hidden sm:rounded-md">
                  <div class="px-4 py-5 bg-white dark:bg-gray-900 sm:p-6">
                    <div class="grid sm:grid-cols-6 gap-6">

                      <div class="sm:col-span-3">
                        <label for="first-name" class="block text-sm font-medium text-gray-900 dark:text-gray-100">First name</label>
                        <input :placeholder="firstName" x-model="firstName" type="text" name="first-name" id="first-name" autocomplete="given-name" class="mt-1 block w-full rounded-md border-gray-300 text-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                      </div>

                      <div class="sm:col-span-3">
                        <label for="last-name" class="block text-sm font-medium text-gray-900 dark:text-gray-100">Last name</label>
                        <input :placeholder="lastName" x-model="lastName" type="text" name="last-name" id="last-name" autocomplete="family-name" class="mt-1 block w-full rounded-md border-gray-300 text-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                      </div>

                      <div class="sm:col-span-3">
                        <label for="title" class="block text-sm font-medium text-gray-900 dark:text-gray-100">Occupation</label>
                        <input :placeholder="title" x-model="title" type="text" name="title" id="title" autocomplete="title" class="mt-1 block w-full rounded-md border-gray-300 text-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                      </div>

                      <div class="sm:col-span-3">
                        <label for="birthdate" class="block text-sm font-medium text-gray-900 dark:text-gray-100">Birthdate</label>
                        <input x-model="birthday" type="date" id="birthdate" name="birthdate" class="mt-1 block w-full rounded-md border-gray-300 text-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                      </div>

                      <div class="sm:col-span-6">
                        <label for="username" class="block text-sm font-medium text-gray-900 dark:text-gray-100">Username</label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                          {# <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 dark:bg-gray-800 bg-gray-50 dark:bg-gray-700 px-3 text-gray-500 dark:text-gray-400 sm:text-sm">crackingdacode.com/</span> #}
                          <input :placeholder="userName" x-model="userName" type="text" name="username" id="username" autocomplete="username" value="lisamarie" class="block w-full min-w-0 flex-1 rounded-md  border-gray-300 text-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                        </div>
                      </div>

                      <div class="sm:col-span-6">
                        <label for="photo" class="block text-sm font-medium text-gray-900 dark:text-gray-100">Profile Photo</label>
                        <div class="mt-1 flex items-center">
                          {# <template x-if="$store.auth.user?.avatar">
                          <img class="object-cover inline-block h-12 w-12 rounded-full mr-2" :src="$store.auth.user?.avatar" alt="">
                        </template> #}
                          <template x-if="avatar">
                            <img x-ref="avatar" id="avatar" class="object-cover inline-block h-12 w-12 rounded-full" alt="" :src="avatar">
                          </template>
                          <template x-if="!avatar">
                            <span class="h-12 w-12 overflow-hidden rounded-full bg-gray-100 dark:bg-gray-700">
                              <svg class="h-full w-full text-gray-300 dark:text-gray-600" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"/>
                              </svg>
                            </span>
                          </template>
                          <div class="ml-4 flex">
                            <div class="relative flex cursor-pointer items-center rounded-md border border-gray-300 bg-white dark:border-gray-700 dark:bg-gray-900 py-2 px-3 shadow-sm focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-50 hover:bg-gray-50">
                              <label for="input-avatar" class="pointer-events-none relative text-sm font-medium text-gray-900 dark:text-gray-50">
                                <span>Change</span>
                                <span class="sr-only"> user photo</span>
                              </label>
                              <input @change="preview(event, 'avatar')" x-ref="avatar" id="input-avatar" name="input-avatar" type="file" class="absolute inset-0 h-full w-full cursor-pointer rounded-md border-gray-300 opacity-0">
                            </div>
                            <button @click="avatar = cover = null" type="button" class="ml-3 rounded-md border border-transparent bg-transparent py-2 px-3 text-sm font-medium text-gray-900 dark:text-gray-50 hover:text-gray-700 dark;hover:text-gray-300 focus:border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50">Remove Photos</button>
                          </div>
                        </div>
                      </div>

                      <div class="sm:col-span-6 sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:pt-5">
                        <label for="cover-photo" class="block text-sm font-medium text-gray-700 dark:text-gray-300 sm:mt-px sm:pt-2">Cover photo</label>
                        <div class="mt-1 sm:col-span-2 sm:mt-0">
                          <div class="flex max-w-lg justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                            <template x-if="cover">
                              <img x-ref="cover" id="cover" class="h-24 w-full object-cover lg:h-32" alt="" :src="cover">
                            </template>
                            <div class="space-y-1 text-center" :class="cover && 'hidden'">
                              <svg class="mx-auto h-12 w-12 text-gray-400 dark:text-gray-500" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                              <div class="flex text-sm text-gray-600 dark:text-gray-500">
                                <label for="input-cover" class="relative cursor-pointer rounded-md bg-white dark:bg-gray-900 font-medium text-indigo-600 dark:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                                  <span>Upload a file</span>
                                  <input @change="preview(event, 'cover')" x-ref="cover" id="input-cover" name="input-cover" type="file" class="sr-only">
                                </label>
                                <p class="pl-1">or drag and drop</p>
                              </div>
                              <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG, GIF up to 10MB</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="sm:col-span-6">
                        <label for="description" class="block text-sm font-medium text-gray-900 dark:text-gray-100">About</label>
                        <div class="mt-1">
                          <textarea x-model="description" id="description" name="description" rows="4" class="block w-full rounded-md border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
                        </div>
                        <p class="mt-3 text-sm text-gray-500 dark:text-gray-400">Brief description for your profile. URLs are hyperlinked.</p>
                      </div>

                      <div class="sm:col-span-6">
                        <label for="url" class="block text-sm font-medium text-gray-900 dark:text-gray-100">Website</label>
                        <input x-model="website" type="text" name="url" id="url" class="mt-1 block w-full rounded-md border-gray-300 text-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                      </div>

                    </div>
                  </div>
                  <div class="px-4 py-3 bg-gray-50 dark:bg-gray-900 text-right sm:px-6">
                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Save
              </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
          <div class="border-t border-gray-200 dark:border-gray-800"></div>
        </div>
      </div>

      <div class="mt-10 sm:mt-0">

        <div class="divide-y-gray-200 mt-6 space-y-8 divide-y" 
    x-init="mapFields()" x-effect="mapFields()">
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
              <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-50">Personal Information</h3>
                <p class="mt-1 text-sm text-gray-600 dark:text-gray-500">
            Use a permanent address where you can receive mail.
          </p>
              </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
              <form @submit.prevent="handleSubmit($event, 2)" >
                <div class="shadow overflow-hidden sm:rounded-md">
                  <div class="px-4 py-5 bg-white dark:bg-gray-900 sm:p-6">
                    <div class="grid sm:grid-cols-6 gap-6">
                      <div class="sm:col-span-3">
                        <label for="email-address" class="block text-sm font-medium text-gray-900 dark:text-gray-100">Email address</label>
                        <input :placeholder="email" disabled type="text" name="email-address" id="email-address" autocomplete="email" class="mt-1 block w-full rounded-md border-gray-300 text-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                      </div>

                      <div class="sm:col-span-3">
                        <label for="phone-number" class="block text-sm font-medium text-gray-900 dark:text-gray-100">Phone number</label>
                        <input x-model="phoneNumber" type="text" name="phone-number" id="phone-number" autocomplete="tel" class="mt-1 block w-full rounded-md border-gray-300 text-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                      </div>

                      <div class="sm:col-span-3">
                        <label for="country" class="block text-sm font-medium text-gray-900 dark:text-gray-100">Country</label>
                        <select 
          x-ref="country" x-model="country" id="country" name="country" autocomplete="country-name" class="mt-1 block w-full rounded-md border-gray-300 text-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                          <option></option>
                          <option value="Afghanistan">Afghanistan</option>
                          <option value="Åland Islands">Åland Islands</option>
                          <option value="Albania">Albania</option>
                          <option value="Algeria">Algeria</option>
                          <option value="American Samoa">American Samoa</option>
                          <option value="Andorra">Andorra</option>
                          <option value="Angola">Angola</option>
                          <option value="Anguilla">Anguilla</option>
                          <option value="Antarctica">Antarctica</option>
                          <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                          <option value="Argentina">Argentina</option>
                          <option value="Armenia">Armenia</option>
                          <option value="Aruba">Aruba</option>
                          <option value="Australia">Australia</option>
                          <option value="Austria">Austria</option>
                          <option value="Azerbaijan">Azerbaijan</option>
                          <option value="Bahamas">Bahamas</option>
                          <option value="Bahrain">Bahrain</option>
                          <option value="Bangladesh">Bangladesh</option>
                          <option value="Barbados">Barbados</option>
                          <option value="Belarus">Belarus</option>
                          <option value="Belgium">Belgium</option>
                          <option value="Belize">Belize</option>
                          <option value="Benin">Benin</option>
                          <option value="Bermuda">Bermuda</option>
                          <option value="Bhutan">Bhutan</option>
                          <option value="Bolivia">Bolivia</option>
                          <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                          <option value="Botswana">Botswana</option>
                          <option value="Bouvet Island">Bouvet Island</option>
                          <option value="Brazil">Brazil</option>
                          <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                          <option value="Brunei Darussalam">Brunei Darussalam</option>
                          <option value="Bulgaria">Bulgaria</option>
                          <option value="Burkina Faso">Burkina Faso</option>
                          <option value="Burundi">Burundi</option>
                          <option value="Cambodia">Cambodia</option>
                          <option value="Cameroon">Cameroon</option>
                          <option value="Canada">Canada</option>
                          <option value="Cape Verde">Cape Verde</option>
                          <option value="Cayman Islands">Cayman Islands</option>
                          <option value="Central African Republic">Central African Republic</option>
                          <option value="Chad">Chad</option>
                          <option value="Chile">Chile</option>
                          <option value="China">China</option>
                          <option value="Christmas Island">Christmas Island</option>
                          <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                          <option value="Colombia">Colombia</option>
                          <option value="Comoros">Comoros</option>
                          <option value="Congo">Congo</option>
                          <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                          <option value="Cook Islands">Cook Islands</option>
                          <option value="Costa Rica">Costa Rica</option>
                          <option value="Cote D'ivoire">Cote D'ivoire</option>
                          <option value="Croatia">Croatia</option>
                          <option value="Cuba">Cuba</option>
                          <option value="Cyprus">Cyprus</option>
                          <option value="Czech Republic">Czech Republic</option>
                          <option value="Denmark">Denmark</option>
                          <option value="Djibouti">Djibouti</option>
                          <option value="Dominica">Dominica</option>
                          <option value="Dominican Republic">Dominican Republic</option>
                          <option value="Ecuador">Ecuador</option>
                          <option value="Egypt">Egypt</option>
                          <option value="El Salvador">El Salvador</option>
                          <option value="Equatorial Guinea">Equatorial Guinea</option>
                          <option value="Eritrea">Eritrea</option>
                          <option value="Estonia">Estonia</option>
                          <option value="Ethiopia">Ethiopia</option>
                          <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                          <option value="Faroe Islands">Faroe Islands</option>
                          <option value="Fiji">Fiji</option>
                          <option value="Finland">Finland</option>
                          <option value="France">France</option>
                          <option value="French Guiana">French Guiana</option>
                          <option value="French Polynesia">French Polynesia</option>
                          <option value="French Southern Territories">French Southern Territories</option>
                          <option value="Gabon">Gabon</option>
                          <option value="Gambia">Gambia</option>
                          <option value="Georgia">Georgia</option>
                          <option value="Germany">Germany</option>
                          <option value="Ghana">Ghana</option>
                          <option value="Gibraltar">Gibraltar</option>
                          <option value="Greece">Greece</option>
                          <option value="Greenland">Greenland</option>
                          <option value="Grenada">Grenada</option>
                          <option value="Guadeloupe">Guadeloupe</option>
                          <option value="Guam">Guam</option>
                          <option value="Guatemala">Guatemala</option>
                          <option value="Guernsey">Guernsey</option>
                          <option value="Guinea">Guinea</option>
                          <option value="Guinea-bissau">Guinea-bissau</option>
                          <option value="Guyana">Guyana</option>
                          <option value="Haiti">Haiti</option>
                          <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                          <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                          <option value="Honduras">Honduras</option>
                          <option value="Hong Kong">Hong Kong</option>
                          <option value="Hungary">Hungary</option>
                          <option value="Iceland">Iceland</option>
                          <option value="India">India</option>
                          <option value="Indonesia">Indonesia</option>
                          <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                          <option value="Iraq">Iraq</option>
                          <option value="Ireland">Ireland</option>
                          <option value="Isle of Man">Isle of Man</option>
                          <option value="Israel">Israel</option>
                          <option value="Italy">Italy</option>
                          <option value="Jamaica">Jamaica</option>
                          <option value="Japan">Japan</option>
                          <option value="Jersey">Jersey</option>
                          <option value="Jordan">Jordan</option>
                          <option value="Kazakhstan">Kazakhstan</option>
                          <option value="Kenya">Kenya</option>
                          <option value="Kiribati">Kiribati</option>
                          <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                          <option value="Korea, Republic of">Korea, Republic of</option>
                          <option value="Kuwait">Kuwait</option>
                          <option value="Kyrgyzstan">Kyrgyzstan</option>
                          <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                          <option value="Latvia">Latvia</option>
                          <option value="Lebanon">Lebanon</option>
                          <option value="Lesotho">Lesotho</option>
                          <option value="Liberia">Liberia</option>
                          <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                          <option value="Liechtenstein">Liechtenstein</option>
                          <option value="Lithuania">Lithuania</option>
                          <option value="Luxembourg">Luxembourg</option>
                          <option value="Macao">Macao</option>
                          <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                          <option value="Madagascar">Madagascar</option>
                          <option value="Malawi">Malawi</option>
                          <option value="Malaysia">Malaysia</option>
                          <option value="Maldives">Maldives</option>
                          <option value="Mali">Mali</option>
                          <option value="Malta">Malta</option>
                          <option value="Marshall Islands">Marshall Islands</option>
                          <option value="Martinique">Martinique</option>
                          <option value="Mauritania">Mauritania</option>
                          <option value="Mauritius">Mauritius</option>
                          <option value="Mayotte">Mayotte</option>
                          <option value="Mexico">Mexico</option>
                          <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                          <option value="Moldova, Republic of">Moldova, Republic of</option>
                          <option value="Monaco">Monaco</option>
                          <option value="Mongolia">Mongolia</option>
                          <option value="Montenegro">Montenegro</option>
                          <option value="Montserrat">Montserrat</option>
                          <option value="Morocco">Morocco</option>
                          <option value="Mozambique">Mozambique</option>
                          <option value="Myanmar">Myanmar</option>
                          <option value="Namibia">Namibia</option>
                          <option value="Nauru">Nauru</option>
                          <option value="Nepal">Nepal</option>
                          <option value="Netherlands">Netherlands</option>
                          <option value="Netherlands Antilles">Netherlands Antilles</option>
                          <option value="New Caledonia">New Caledonia</option>
                          <option value="New Zealand">New Zealand</option>
                          <option value="Nicaragua">Nicaragua</option>
                          <option value="Niger">Niger</option>
                          <option value="Nigeria">Nigeria</option>
                          <option value="Niue">Niue</option>
                          <option value="Norfolk Island">Norfolk Island</option>
                          <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                          <option value="Norway">Norway</option>
                          <option value="Oman">Oman</option>
                          <option value="Pakistan">Pakistan</option>
                          <option value="Palau">Palau</option>
                          <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                          <option value="Panama">Panama</option>
                          <option value="Papua New Guinea">Papua New Guinea</option>
                          <option value="Paraguay">Paraguay</option>
                          <option value="Peru">Peru</option>
                          <option value="Philippines">Philippines</option>
                          <option value="Pitcairn">Pitcairn</option>
                          <option value="Poland">Poland</option>
                          <option value="Portugal">Portugal</option>
                          <option value="Puerto Rico">Puerto Rico</option>
                          <option value="Qatar">Qatar</option>
                          <option value="Reunion">Reunion</option>
                          <option value="Romania">Romania</option>
                          <option value="Russian Federation">Russian Federation</option>
                          <option value="Rwanda">Rwanda</option>
                          <option value="Saint Helena">Saint Helena</option>
                          <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                          <option value="Saint Lucia">Saint Lucia</option>
                          <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                          <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                          <option value="Samoa">Samoa</option>
                          <option value="San Marino">San Marino</option>
                          <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                          <option value="Saudi Arabia">Saudi Arabia</option>
                          <option value="Senegal">Senegal</option>
                          <option value="Serbia">Serbia</option>
                          <option value="Seychelles">Seychelles</option>
                          <option value="Sierra Leone">Sierra Leone</option>
                          <option value="Singapore">Singapore</option>
                          <option value="Slovakia">Slovakia</option>
                          <option value="Slovenia">Slovenia</option>
                          <option value="Solomon Islands">Solomon Islands</option>
                          <option value="Somalia">Somalia</option>
                          <option value="South Africa">South Africa</option>
                          <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                          <option value="Spain">Spain</option>
                          <option value="Sri Lanka">Sri Lanka</option>
                          <option value="Sudan">Sudan</option>
                          <option value="Suriname">Suriname</option>
                          <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                          <option value="Swaziland">Swaziland</option>
                          <option value="Sweden">Sweden</option>
                          <option value="Switzerland">Switzerland</option>
                          <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                          <option value="Taiwan">Taiwan</option>
                          <option value="Tajikistan">Tajikistan</option>
                          <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                          <option value="Thailand">Thailand</option>
                          <option value="Timor-leste">Timor-leste</option>
                          <option value="Togo">Togo</option>
                          <option value="Tokelau">Tokelau</option>
                          <option value="Tonga">Tonga</option>
                          <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                          <option value="Tunisia">Tunisia</option>
                          <option value="Turkey">Turkey</option>
                          <option value="Turkmenistan">Turkmenistan</option>
                          <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                          <option value="Tuvalu">Tuvalu</option>
                          <option value="Uganda">Uganda</option>
                          <option value="Ukraine">Ukraine</option>
                          <option value="United Arab Emirates">United Arab Emirates</option>
                          <option value="United Kingdom">United Kingdom</option>
                          <option value="United States">United States</option>
                          <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                          <option value="Uruguay">Uruguay</option>
                          <option value="Uzbekistan">Uzbekistan</option>
                          <option value="Vanuatu">Vanuatu</option>
                          <option value="Venezuela">Venezuela</option>
                          <option value="Viet Nam">Viet Nam</option>
                          <option value="Virgin Islands, British">Virgin Islands, British</option>
                          <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                          <option value="Wallis and Futuna">Wallis and Futuna</option>
                          <option value="Western Sahara">Western Sahara</option>
                          <option value="Yemen">Yemen</option>
                          <option value="Zambia">Zambia</option>
                          <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                      </div>

                      {# <div class="sm:col-span-3">
                        <label for="city" class="block text-sm font-medium text-gray-900 dark:text-gray-100">City</label>
                        <select x-ref="city" x-model="city" id="city" name="city" autocomplete="city-name" class="mt-1 block w-full rounded-md border-gray-300 text-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                          <option disabled></option>
                          <template x-for="city in [...new Set(cities)].sort()" :key="city">
                            <option :value="city">
                              <span x-text="city"></span></option>
                          </template>
                        </select>
                      </div> #}

                      <div class="sm:col-span-3">
                        <label for="city" class="block text-sm font-medium text-gray-900 dark:text-gray-100">City</label>
                        <input x-model="city" type="text" name="city" id="city" class="dark:bg-gray-800 dark:border-gray-700 dark:text-gray-100 mt-1 block w-full rounded-md border-gray-300 text-gray-900 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                      </div>

                      <p class="text-sm text-gray-500 dark:text-gray-400 sm:col-span-6">This account was created on <span x-text="$store.utils.formatDate(new Date($store.auth.user?.created_at), 'MMMM d, y, hh:mm:ss aa')"></span>.</p>
                    </div>
                  </div>
                  <div class="px-4 py-3 bg-gray-50 dark:bg-gray-900 text-right sm:px-6">
                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Save
              </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>
-->

      {# {% include 'partials/notifications.njk' %} #}

    </div>
  </template>

  <script>
    function dataAccount() {
      return {
        firstName: '',
        lastName: '',
        title: '',
        birthday: null,
        userName: '',
        avatar: null,
        cover: null,
        description: '',
        website: '',
        email: '',
        phoneNumber: '',
        country: '',
        city: '',
        language: '',

        cities: [],

        /*showNotification: false,
        status: '',
        details: '',
        success: false,*/

        setSelectedField(field, value) {
          const select = this.$refs[field]
          const index = Array
            .from(select.options)
            .findIndex(item => item.text === value)
          select.selectedIndex = value
            ? index
            : 0
          this[field] = value
        },

        async mapFields() {
          let isCountrySet = false
          for (const [key, value] of Object.entries(Alpine.store('auth').user)) {
            const key2 = key
              .split('_')
              .map((w, i) => {
                if (i !== 0) 
                  return w[0].toUpperCase() + w.slice(1, w.length)
                else 
                  return w
              })
              .join('')

            if (key2 !== 'country') 
              this[key2] = value
            else 
              this.setSelectedField('country', value)

          }
        },

        async preview(evt, type) {
          this[type] = Object.values(evt.target.files)
          var reader = new FileReader();
          reader.onload = () => {
            this
              .$refs[type]
              .src = reader.result;
            /*          document
            .getElementById(type)
            .src = reader.result*/
          }
          reader.readAsDataURL(evt.target.files[0]);
        },

        handleSubmit(evt, type) {
          const data = new FormData()
          if (type === 1) {
            data.append('first_name', this.firstName)
            data.append('last_name', this.lastName)
            data.append('title', this.title)
            if (this.birthday) 
              data.append('birthday', this.birthday)
            else 
              data.append('birthday', '{{ null }}')
            data.append('user_name', this.userName)
            if (this.avatar) 
              data.append('avatar', evt.target[5].files[0] || this.avatar)
            else 
              data.append('avatar', '{{ null }}')
            if (this.cover) 
              data.append('cover', evt.target[7].files[0] || this.cover)
            else 
              data.append('cover', '{{ null }}')
            data.append('description', this.description)
            data.append('website', this.website)
          } else if (type === 2) {
            data.append('phone_number', this.phoneNumber)
            data.append('country', this.country)
            data.append('city', this.city)
          }
          this.email && data.append('email', this.email)

          fetch('/api/settings', {
            method: 'POST',
            body: data
          })
            .then((response) => response.json())
            .then((message) => {
              if (message.success) {
                this.showNotification = true
                this.status = 'Successfully saved!'
                this.details = 'Basic information are now visible.'
                this.success = true
                Alpine
                  .store('auth')
                  .getLoggedInUser()
              } else 
                throw new Error()
            })
            .catch((error) => {
              console.error(error)
              this.showNotification = true
              this.status = 'Update failed...'
              this.details = 'There was an error saving your information.'
              this.success = false
            })
            . finally(() => {
              this.showNotifications = true
            })
        }
      }
    }
  </script>

{% endblock %}