{% if not env.devMode %}
  {# <div class="">
    <h2 class="mt-10 text-lg font-medium leading-6 text-gray-900 dark:text-white">Popular Posts</h2>
    {% set postslist = articles | top %}
    <ol class="mx-auto mt-2 grid max-w-2xl grid-cols-1 gap-4 border-t border-gray-200 dark:border-gray-800 pt-10 sm:mt-2 sm:pt-4 lg:mx-0 lg:max-w-none sm:grid-cols-2 lg:grid-cols-3">
      {% for post in postslist %}
        {% include 'partials/postcard.njk' %}
      {% endfor %}
    </ol>
  </div> #}

  {% if page.url.includes('/posts/') %}
    <div class="">
      <h2 class="mt-10 text-lg font-medium leading-6 text-gray-900 dark:text-white">Related Posts</h2>
      {% set postslist = collections.related(content) %}
      <ol class="mx-auto mt-2 grid max-w-2xl grid-cols-1 gap-4 border-t border-gray-200 dark:border-gray-800 pt-10 sm:mt-2 sm:pt-4 lg:mx-0 lg:max-w-none sm:grid-cols-2 lg:grid-cols-3">
        {% for post in postslist %}
          {% include 'partials/postcard.njk' %}
        {% endfor %}
      </ol>
    </div>
  {% endif %}
{% endif %}

<div class="">
  <h2 class="mt-10 text-lg font-medium leading-6 text-gray-900 dark:text-white">Latest Posts</h2>
  {% set postslist = articles | reverse %}
  {% if page.url.includes('/posts/') %}
    {% set postslist = postslist.slice(0, 3) %}
  {% elif not page.url.includes('/tags/') and not page.url.includes('/archive/') %}
    {% set postslist = postslist.slice(0, 9) %}
  {% endif %}
  <ol class="mx-auto mt-2 grid max-w-2xl grid-cols-1 gap-4 border-t border-gray-200 dark:border-gray-800 pt-10 sm:mt-2 sm:pt-4 lg:mx-0 lg:max-w-none sm:grid-cols-2 lg:grid-cols-3">
    {% for post in postslist %}
      {% include 'partials/postcard.njk' %}
    {% endfor %}
  </ol>
</div>