<li x-data="{ isDalle: {{ post.data.tags | json }}.includes('dalle') || '{{ post.data.featured }}'.includes('cloudinary') }" 
  class="flex-1 shadow-md ring-1 dark:ring-gray-100/5 ring-gray-900/5 dark:bg-gray-850 max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden lg:max-w-2xl">
  <div class="flex flex-col justify-between h-full">
    <div class="">
      <!-- src="/assets/images/placeholder2.webp" alt="placeholder image for cls" -->
      <img 
        width="480" :height="isDalle ? 275 : 320" :data-src="isDalle ? 
            `{{ post.data.featured }}`.replace('/upload/', '/upload/w_480/h_275/f_webp/') : 
            `{{ post.data.featured }}&w=480&h=320&fm=webp`" 
        :alt="`{{ post.data.alt }}`" 
        x-intersect.once="$el.src = $el.dataset.src"
        class="h-48 w-full object-cover ">
    </div>
    <div class="p-8">
      <a href="/tags/{{ post.data.tags[0] | slug }}" class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{ post.data.tags[0] }}</a>
      <a href="{{ post.url }}" aria-label="Read more about: {{ post.data.title }}" class="block mt-1 text-lg leading-tight font-medium dark:text-white text-black hover:underline">{{ post.data.title }}</a>
      <p class="mt-2 dark:text-gray-400 text-gray-500">{{ post.data.description }}</p>
    </div>

    {% for auth in authors.authors %}
      {% if auth.name == post.data.author %}
        <figcaption class="m-6 flex items-center">
          <div class="overflow-hidden rounded-full bg-gray-50">
            <img data-src="{{ auth.photo }}-small.jpg" alt="Photo of {{ auth.name }}" x-intersect.once="$el.src = $el.dataset.src" class="w-12 h-12 object-cover">
          </div>
          <div class="ml-4">
            <div class="text-base font-medium leading-6 tracking-tight dark:text-gray-100 text-gray-900">{{ auth.name }}</div>
            {# <div class="mt-1 text-sm dark:text-gray-500 text-gray-600">{{ testimonial.title }}</div> #}
            <span
                class="text-sm text-gray-500 dark:text-gray-400"
                x-data="{ time: {{ post.templateContent | wordcount }} / 238 }">
              <a href="/archive/{{ post.data.date | format('yyyy') }}">{{ post.data.date | format('MMM dd, yyyy') }}</a> •
                <span x-text="`${Math.round(time).toString().split('.')[0]} min read`"/>
            </span>
          </div>
        </figcaption>
      {% endif %}
    {% endfor %}

  </div>
</li>
